.block-course_managers {
   white-space: nowrap;
}

#block-course_managers-list {
   text-align: center;
   overflow-y: auto;
}

#block-course_managers-list ul {
   margin-left: 0;
   list-style: none;
   text-align: left;
}

#block-course_managers-search {
   margin-bottom: 5px;
   text-align: center;
}

#page-blocks-course_managers-manager .notopened {
  background-color: #bf2f32;
  color: white;
  padding: 2px;
}

#page-blocks-course_managers-manager .filler {
  border-top: thin solid black;
  height: 0.5em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
}
